<configuration>
    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Capturing appender for tests -->
    <appender name="CapturingAppender" class="akka.actor.testkit.typed.internal.CapturingAppender" />

    <logger name="play" level="INFO"/>
    <logger name="application" level="DEBUG"/>

    <!-- The appenders defined for this CapturingAppenderDelegate logger are used when there is a test failure and all logging events from the test are flushed to these appenders. -->
    <logger name="akka.actor.testkit.typed.internal.CapturingAppenderDelegate" >
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="akka" level="DEBUG"/>
    <logger name="akka.actor" level="DEBUG"/>
    <logger name="akka.event.slf4j.Slf4jLogger" level="DEBUG"/>
    <logger name="akka.remote" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="CapturingAppender"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>