<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="play" level="INFO"/>
    <logger name="application" level="INFO"/>

    <!-- Silence Akka internals during tests (too noisy at DEBUG) -->
    <logger name="akka" level="WARN"/>
    <logger name="akka.actor" level="WARN"/>
    <logger name="akka.event.slf4j.Slf4jLogger" level="WARN"/>
    <logger name="akka.remote" level="WARN"/>
    <logger name="akka.persistence" level="WARN"/>
    <logger name="akka.contrib.persistence.mongodb" level="WARN"/>
    <logger name="com.mongodb" level="WARN"/>
    <logger name="org.mongodb" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
